.global_wrapper {
    height: 629px !important;
}

.login {
    width: 100%;
    padding: 100px 30px;
    background: rgba(255, 255, 255, 1) url(../images/pattern-img-1.png);
    color: #ffffff;
}

.login input[type="email"], .login input[type="password"] {
    color: #FFFFFF;
    background: transparent;
    width: 50%;
    height:3em;
    transition-property: width, border;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.login input[type="email"]:hover, .login input[type="password"]:hover {
    width: 100%;
    height:3em;
    background: transparent;
    border: solid 1px #007bff;
}

.login input[type="email"]:focus, .login input[type="password"]:focus {
    color: #ffffff;
    height:3em;
    border: solid 1px #007bff;
    background: transparent;
    width: 100%;
}

.promotion_footer {
    width: 100%;
    height: 300px;
    background: #000000;
    color: #ffffff;
}

.promotion_footer .content {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px ;
    width: 49%;
}

.promotion_footer .content h5 {
    margin-bottom: 25px;
}

.promotion_footer .content a {
    color: #ffffff;
}

.content .miniatures .miniature {
    width: 24%;
    min-height: 200px;
    float: left;
    padding-right: 5px;
}

.content .miniatures .miniature img {
    object-fit: cover;
    width: 100%;
    height: 95px;
}

.content .miniatures .miniature .img {
    min-height: 200px;
}
